#body {
  background-color: #4669f5;

  font-family: Georgia, "Times New Roman", Times, serif;
}
#hd1 {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #4e6ad5;
}
