#body {
  background-color: #006d95;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#hd {
  font-family: "Gill Sans Extrabold", sans-serif;
  font-size: 40px;
  font-weight: 800;
  color: #4e6ad5;
}
